@custom-variant emerald (&:is(.emerald *));

.light.emerald {
  --primary: hsl(160, 84%, 34%) !important;
  --primary-cta: hsl(161, 94%, 30%) !important;
  --primary-foreground: white !important;

  --secondary: hsl(158, 64%, 47%) !important;
  --secondary-cta: #10b981 !important;
  /*--secondary-cta: #8334d3 !important;*/
  --secondary-foreground: #fff !important;

  --tertiary: hsl(180, 84%, 30%) !important;
  --tertiary-cta: #0f766e !important;
  --tertiary-foreground: white !important;
}
.dark.emerald {
  --primary: #34d399 !important;
  --primary-cta: #10b981 !important;
  --primary-foreground: #fff !important;

  --secondary: #065f46 !important;
  --secondary-cta: #047857 !important;
  --secondary-foreground: #fff !important;

  --tertiary: #14b8a6 !important;
  --tertiary-cta: #0d9488 !important;
  --tertiary-foreground: #fff !important;
}
