.modalOverlayEnter {
  animation: modal-overlay-enter 300ms ease-out forwards;
}
.modalOverlayExit {
  animation: modal-overlay-exit 1000ms cubic-bezier(0.6, -0.69, 0.51, 1.52) forwards;
}

@keyframes modal-overlay-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes modal-overlay-exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modalContentEnter {
  animation: modal-content-enter 300ms ease-out forwards;
}
.modalContentExit {
  animation: modal-content-exit 1000ms cubic-bezier(0.26, 1.03, 0.47, 1.28) forwards;
}
@keyframes modal-content-enter {
  from {
    transform: translateY(4px) scale(0.95);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes modal-content-exit {
  to {
    transform: scale(1.5) perspective(600px) rotateY(360deg);
    opacity: 0;
  }
}
